 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

  }

  html,body
  {
      overflow-x: hidden;
  }

  body 
  {
      background-color: blanchedalmond ;
      /* background-image: linear-gradient(120deg,rgb(0, 255, 115), rgb(132, 0, 255) ); */
      color: white;
       font-family: "poppins";
       min-height: 100vh;

  }
  header{
      color: black;
  }
   
  form
  {
      
      min-height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  form input, form button{
      padding: 0.5rem;
      font-size: 2rem;
     border: none; 
     background: white;
  }

  form button{
        color: #fda085;
        background: white;
        cursor: pointer;
        transition: all 0.3s ease;
  }

  form button:hover{
      background: #fda085;
      color: white;
  }
  .todo-container
  {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .todo-list
  {
      min-width: 30%;
      list-style: none;

  }
  .todo{
      margin: 0.5rem;
      background: white;
      color: black;
      font-size: 1.5rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: all 0.7s ease;
      }
  .todo li{
    flex: 1;
  } 
  .trash-button, .complete-button
  {
      background: #ff6f47;
      color: white;
      border: none;
      padding: 1rem;
      cursor: pointer;
      font-size: 1rem;


  }

  .complete-button{
      background: rgb(73, 240, 73);
  }

  .todo-item
  {
      padding: 0rem 0.5rem;
  }

  .fa-trash,.fa-check
  {
    pointer-events: none;  
  }
   .completed{
      text-decoration: line-through;
      opacity: 0.5;
  } 
  


   .head
   {
       text-align: center;
       padding: 3%;
   }
 .todo,.todo-span
   {
    background-image: linear-gradient(120deg,rgb(0, 255, 115), rgb(132, 0, 255) );

    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.5s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
   }
   
   .todo:hover, .todo-span:hover
   {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   
   }
 
   .col-lg-3
   {
    background-image: linear-gradient(120deg,rgb(0, 255, 115), rgb(132, 0, 255) );
    justify-content: center;
    align-items: center;
    width: 55vh;
    height: 50vh;
    text-align: center;
       margin-top: 3%;
       margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 5%;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.5s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
cursor: pointer;


       
   }


   .col-lg-3:hover,.listinput:hover
   {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   
   }

   .clear
   {

     
text-align: right;
    }
    #date{
        position: relative;
        top: 15vh;
        text-align: center;
    font-size: 3rem;
    }
    .todo-input
    {
        /* background-image: linear-gradient(120deg,rgb(0, 255, 115), rgb(132, 0, 255) ); */
        width: 40vw;
        color: black;
        
    }
    .todo
    {
        color: white;
    }


   .listinput{
    background-image: linear-gradient(120deg,rgb(0, 255, 115), rgb(132, 0, 255) );
       width: 45vw;
    min-height: 65vh;
       margin-left: 25%;
       border-radius: 5%;
       box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.5s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
cursor: pointer;

   }

@media (max-width: 700px) {
    .listinput
    {
        margin-left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}